body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

.task-container {
    margin: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
}

button {
    /* padding: 10px 20px; */
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.Add {
    padding: 10px 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 1rem;
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}

li button {
    max-block-size: 1.5rem;
}

.delete-button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
